<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="keywords" content="{$SEO['keyword']}">
	<meta name="description" content="{$SEO['description']}">
    <link href="{CSS_PATH}reset_panda.css" rel="stylesheet" type="text/css" />
    <link href="{CSS_PATH}style.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="{JS_PATH}jquery.min.js"></script>
	<script type="text/javascript" src="{JS_PATH}jquery.sgallery.js"></script>
	<script type="text/javascript" src="{JS_PATH}DD_belatedPNG_0.0.8a-min.js"></script>
	<script type="text/javascript" src="{JS_PATH}global.js"></script>
	<!--[if IE 6]>
	<script src="DD_belatedPNG.js"></script>
	<script>
	  DD_belatedPNG.fix('.nav,.tips,.about_left h1');
	</script>
	<![endif]-->
</head>
<body>
<div class="web center">
	<div class="tips center">
		{pc:announce  action="lists" siteid="$siteid" num="10"}
		<div class="notice left">
			<div id="announ">
			<ul>
				{loop $data $r}
				<li><a href="{APP_PATH}index.php?m=announce&c=index&a=show&aid={$r['aid']}" class="bright" target="_blank">{str_cut($r[title],'100')}</a></li>
				{/loop}
			</ul>
			</div>
			<script type="text/javascript">
				$(function(){
					startmarquee('announ',40,1,500,4000);
				})
			</script>
		</div>
		{/pc}
		<div class="setup right">
			<ul>
				<li><a href="#" id="sethomepage">设为首页</a>|<a href="#" id="favorites">加入收藏</a></li>
			</ul>
		</div>
	</div>
	<div class="header center">
		<a href="{siteurl($siteid)}"><img src="{IMG_PATH}logo.jpg" /></a>
		<ul class="nav">
		<li class="left"><a href="{siteurl($siteid)}">首 页<br><span>HOME</span></a></li>
		<li class="left"><a href="{$CATEGORYS[6]['url']}">公司简介<br><span>ABOUT US</span></a></li>
		<li class="left"><a href="{$CATEGORYS[13]['url']}">产品展示<br><span>PRODUCT</span></a></li>
		<li class="left"><a href="{$CATEGORYS[8]['url']}">新闻中心<br><span>NEWS</span></a></li>
		<li class="left"><a href="{$CATEGORYS[9]['url']}">工程案例<br><span>CASE</span></a></li>
		<li class="left"><a href="{$CATEGORYS[10]['url']}">人才招聘<br><span>JOB</span></a></li>
		<li class="left"><a href="{$CATEGORYS[11]['url']}">联系我们<br><span>CONTACT</span></a></li>
		<li class="left"><a href="{$CATEGORYS[12]['url']}">留言板<br><span>MESSAGE</span></a></li>
		</ul>
	</div>