{template "content","header"}
	<div class="aboutcon center">
		<div class="about_left left">
		<h1><span>{$CATEGORYS[$catid]['catdir']}</span><br><p>{$CATEGORYS[$catid]['catname']}</p></h1>
		<ul class="classify">
			<h2>产品分类</h2>
			
			{pc:content action="category" catid="7" num="15" siteid="$siteid" order="listorder ASC"}
				{loop $data $r}
				<li><a href="{$r[url]}"><b>·</b> {$r[catname]}</a></li>
				{/loop}
			{/pc}				
		</ul>
		<h3><a href="{$CATEGORYS[11]['url']}">联系我们</a></h3>
		</div>
		<div class="about_right left">
			<h2><a href="{siteurl($siteid)}">网站首页</a> &gt; {catpos($catid)} 列表</h2>
			{pc:content action="lists" catid="$catid" num="20" order="id DESC" page="$page"}
			{loop $data $r}
			<div class="imglist img-wrap">
				<a href="{$r[url]}"><img src="{thumb($r[thumb],157,127)}"/></a><span class="text">{$r[title]}</span>
			</div>
			{/loop}
			<div id="pages" class="text-c">{$pages}</div>
			{/pc}
			</div>
			</div>
	</div>	
</div>
{template "content","footer"}